body {
  padding: 2em;
}

body > h2 {
  font-weight: 900;
  text-transform: uppercase;
}

.box {
  border: 2px solid #000;
  border-radius: 0.3em;
  min-height: 2em;
}
.layout {
  padding: 1em;
}
.layout .container {
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
  padding: 1em;
  border-radius: 0.3em;
  margin-bottom: 3em;
}
.layout .header,
.layout .footer,
.layout .content,
.layout .sidebar {
  display: flex;
}
.layout .header,
.layout .footer {
  min-height: 3em;
}
.layout .main {
  padding: 1em 0;
}
.layout .content:before,
.layout .sidebar:before,
.layout .header:before,
.layout .footer:before {
  display: flex;
  flex: 1 0 auto;
  font-style: italic;
  opacity: 0.5;
  justify-content: center;
  align-items: center;
}
.layout .header:before {
  content: "Header";
}
.layout .footer:before {
  content: "Footer";
}
.layout .content:before {
  content: "Content";
}
.layout .sidebar:before {
  content: "Sidebar";
}
.layout .main {
  padding: 1em 0;
}
.layout .content,
.layout .sidebar {
}

.lt-basic-main {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.lt-basic-content {
  flex: 1 1 600px;
}
.lt-basic-content-sb2 {
  flex: 1 1 500px;
}
.lt-basic-sidebar {
  flex: 1 1 300px;
}
.lt-basic-sidebar-primary {
  flex: 1 1 200px;
}
.lt-basic-sidebar-secondary {
  flex: 1 1 100px;
}
.lt-basic-sidebar-secondary,
.sidebar-left .lt-basic-sidebar {
  order: -1;
}
